@page "/customers"

@inject CustomerService CustomerService

<h1>Kunder</h1>
<button @onclick="TryInsertCustomer">TryInsertCustomer()</button>
<div>
    @if (customers == null)
    {
        <p><em>Henter...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Kunde ID</th>
                    <th>Fornavn</th>
                    <th>Efternavn</th>
                    <th>Adresse</th>
                    <th>Postnummer</th>
                    <th>By</th>
                    <th>Dato Oprettet</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in customers)
                {
                <tr>
                    <td>@customer.customerID</td>
                    <td>@customer.firstName</td>
                    <td>@customer.lastName</td>
                    <td>@customer.address.streetAndNo</td>
                    <td>@customer.address.zipCode.zipCodeName</td>
                    <td>@customer.address.zipCode.cityName</td>
                    <td>@customer.createDate.ToShortDateString()</td>
                </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
        private Customer[] customers;

        protected override async Task OnInitializedAsync()
        {
            await Task.Run(() => { customers = CustomerService.GetCustomers(); });
        }

        void TryInsertCustomer()
        {
            Customer customer = new Customer()
            {
                firstName = "Lars",
                lastName = "Larsen",
                address = customers[1].address
        };
        if (CustomerService.PostCustomer(customer))
        {
            customers = CustomerService.GetCustomers();
        }
}
}
